table{
	border-top: 1px solid #444444;
    border-collapse: collapse;
}
tr{
        border-bottom: 1px solid #444444;
        padding: 10px;
}
td{
	border-bottom: 1px solid #efefef;
    padding: 10px;
}
table .even{
	background: #efefef;
}
.text{
    text-align:center;
    padding-top:20px;
    color:#000000
}
.text:hover{
    text-decoration: underline;
    }
a:link {
	color : #57A0EE;
	text-decoration:none;
}
a:hover { 
	text-decoration : underline;
}
.logo {
	text-align: center;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.form{
	display:inline;
}
